
.finddoctor-main-container {
  text-align: center;
  padding: 20px;
}

.finddoctor-main-container p {
  font-size: 18px;
  color: #333;
}

.finddoctor-main-container h1 {
  font-size: 30px;
  margin-top: 10px;
  color: #333;
}

.finddoctor-details{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 30px;

}
.finddoctor-list {
  list-style: none;
  background-image: linear-gradient(to right, rgba(241, 245, 184, 0), rgb(247, 221, 221));
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1; 
  transition: all 0.5s;
}
.finddoctor-list:hover{ 
  transform: scale(1.1);
}

.finddoctor-list img {
  width: 150px;
  margin-bottom: 10px;
}

.finddoctor-list h3 {
  font-size: 20px;
  color: #333;
}

.finddoctor-list p {
  font-size: 16px;
  color: #555;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.rating p {
  display: flex;
  align-items: center;
}

.rating p span {
  margin-right: 5px;
}

.star-icon {
  color: yellow; /* Set the color of the star icon */
}

.review-count {
  margin-left: 5px;
  color: #888;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;

}

.social-icons li {
  margin-right: 10px;
}

.social-icons a {
  text-decoration: none;
  color: rgb(7, 166, 218);
}

/* Add additional styles as needed */
