/* OurService.css */

.service-main-caontainer {
  text-align: center;
  padding: 20px;
}

.service-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.service-list {
  width: 200px;
  padding: 10px;
  background-color: #fffcfc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.service-list:hover{
  transform: scale(1.2);
}
.service-list img {
  width: 90px;
  border-radius: 50%;
}

.service-list h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.service-list p {
  margin-top: 10px;
  color:gray;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .service-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
  }

  .service-list {
    width: 100%; /* Take full width on smaller screens */
    margin: 5px auto;
  }
}